a {
    text-decoration: none;
    font-family: "Arial Narrow", Arial, sans-serif;
}

p {
    text-decoration: none;
    font-family: "Arial Narrow", Arial, sans-serif;
}

div {
    list-style-type: none;
}




.Namer {
    background: rgba(255, 255, 255, 1);
}
.Namer p {
    font-size: 30pt;
}



#shard_namer_prompt {
    position: absolute;
    height: 12vh;
    width: 5vh;
    margin-left: 10vh;
    margin-top: -30vh;
    background: rgba(255, 25, 255, 0.5);
}

#shard_namer {
    display: none;
    position: absolute;
    height: 50vh;
    width: 40vh;
    margin-left: 15vh;
    margin-top: -90vh;
    background: rgba(255, 255, 255, 0.5);
}

#shard_namer p {
    font-size: 5vh;
}

#shard_namer input {
    margin-top: 1vh;
    margin-left: 1.2vh;
    font-size: 5vh;
    height: 10vh;
    width: 30vh;
    background: #FFFFFF;
}



#player_namer {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -300px;
}

#player_namer input {
    font-size: 30pt;
    height: 80px;
    width: 400px;
    background: #FFFFFF;
    margin: 10px;
}

#player_namer button {
    border: 2px;
    border-radius: 4px;
    height: 80px;
    width: 400px;
    margin-left: 10px;
}

#home_ui {
    position: absolute;
    left: 30%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
    background: gray;
    display: none;
}

#home_ui a {
    font-size: 15pt;
}

#home_ui input {
    margin: 3px;
    height: 40px;
    width: 200px;
}

#home_ui ol {
    float:right;
    height: 100px;
    width: 100px;
    overflow: auto;
}

#buildBase input{
    height: 30px;
    width: 80px;
}


#bigCanvas {
    display: block;
    width: 100%;
    height: 100%;
}


#color_picker canvas{
    border: 1px solid blue;
    width: 100px;
    height: 100px;
}
