* { margin: 0; padding: 0;}

body, html { height:100%; }


@font-face {
    font-family: dist;
    src: url("dist_pro_thin.otf");
}

@font-face {
    font-family: openSansBold;
    src: url("OpenSans-Bold.ttf");
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track-piece {
    background-color: #C2D2E4;
}

::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #314b75;
}

a {
    text-decoration: none;
    font-family: openSansBold;
    letter-spacing: 1px;
    font-weight: 800;
}

b {
    text-decoration: none;
    font-family: openSansBold;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #e0e2e5;
    font-size: 30pt;
}

li {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

p {
    text-decoration: none;
    font-family: "Arial Narrow", Arial, sans-serif;
}

.top {
    width: 100%;
    height: 10%;
    background-color: red;
}

.info {
    float: left;
    width: 70%;
    height: 20%;
    background-color: green;
}

.shards {
    float: right;
    width: 30%;
    height: 40%;
    background-color: blue;
}

.queue {
    float: right;
    width: 30%;
    height: 50%;
    background-color: yellow;
}

.upgrades {
    display: flex;
    align-items: center;
    float: left;
    width: 70%;
    height: 70%;
    background-color: #DDDDDD;
}

#shard_namer_prompt {
    position: absolute;
    height: 12vh;
    width: 5vh;
    margin-left: 10vh;
    margin-top: -30vh;
    background: rgba(255, 25, 255, 0.5);
}

#shard_namer_ui {
    display: none;
    position: absolute;
    height: 50vh;
    width: 40vh;
    margin-left: 15vh;
    margin-top: -90vh;
    background: rgba(255, 255, 255, 0.5);
}

#shard_namer_ui p {
    font-size: 5vh;
}

#shard_namer_ui input {
    margin-top: 1vh;
    margin-left: 1.2vh;
    font-size: 5vh;
    height: 10vh;
    width: 30vh;
    background: #e0e2e5;
}

#player_namer {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -300px;
}

#player_namer input {
    font-size: 30pt;
    height: 80px;
    width: 400px;
    background: #FFFFFF;
    margin: 10px;
}

#player_namer button {
    border: 2px;
    border-radius: 4px;
    height: 80px;
    width: 400px;
    margin-left: 10px;
}

#home_ui {
    position: absolute;
    left: 20%;
    top: 35%;
    width: 700px;
    height: 1000px;
    margin-left: -350px;
    margin-top: -360px;
    background: #131a26;
    display: none;
}

#home_ui li {
    height: 60px;
    width: 100%;
    background: #542fce;
}

#home_ui a {
    font-size: 15pt;
    color: #e0e2e5;
}

#home_ui ol {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    font-family: openSansBold;
    font-size: 30px;
    color: white;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #131a26;
}

#close_home_ui {
    font-family: openSansBold;
    font-size: 30px;
    color: white;
    background: #516689;
    margin-left: 4.5%;
    margin-right: 12%;
    height: 90px;
    width: 400px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 8px #69778e;
}

.top #ribbon {
    vertical-align: middle;
    margin: 0 auto;
    width: 95%;
    height: 90%;
    background: #22262d;
    text-align: center;
}

#info_list .left {
    float: left;
    text-align: left;
}

#info_list .right {
    float: right;
    text-align: right;
}

#info_list .left, .right {
    border: 1px solid #9398a0;
    display: inline-block;
    height: 25%;
    width: 49%;
    background: #262b33;
}

#upgrades_container {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    background: #223451;
    border-radius: 5px;
}

#upgrades_container div {
    max-height: 50%;
}

#upgrades_container a {
    font-size: 20pt;
    letter-spacing: 2px;
    display: block;
}

#upgrades_container .skill {
    display: block;
    margin-top: 5px;
}

#upgrades_container canvas {
    width: 280px;
    height: 100px;
    margin: auto;
    position: absolute;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 2px solid #62c164;
    background: #123123;
}

#upgrades_container input {
    margin: 20px;
    height: 60px;
    width: 70px;
    border-radius: 5px;
    box-shadow: 0 8px #999;
}

#upgrades_container input:active {
    box-shadow: 0 6px #666;
    transform: translateY(10px);
}

#upgrades_container input:hover {
    background: #CF4647;
    border: 5px solid #CF4647;
}


#main_canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#color_picker canvas {
    border: 1px solid blue;
    width: 100px;
    height: 100px;
}
